@font-face{
    font-family: "Helvetica Bold";
    src: url("../fonts/HelveticaLTStd-Bold.otf")
}

@font-face{
    font-family: "Helvetica Light";
    src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}