@font-face{
    font-family: "Helvetica Bold";
    src: url("/assets/fonts/HelveticaLTStd-Bold.otf")
}

@font-face{
    font-family: "Helvetica Light";
    src: url("/assets/fonts/HelveticaLTStd-Light.otf")
}