:root{
    font-size: 16px;
    font-family: "Helvetica Light";
    color: var(--accent);
}

.page-content{
    max-width: 1200px;
    margin: 0 auto;
}

.fade-in{
    transition: 1s;
    opacity: 1;
}

.fade-out{
    transition: 1s;
    opacity: 0;
    pointer-events: none;
}

::selection{
    background-color: rgba(0,0,0,0.1) 
}