.header{
    display: block;
    height: 370px;
    width: 100%;
    background-color: var(--accent);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
    transition: clip-path 1s ease-in-out;
    transition-delay: 500ms;
    object-fit: cover;
    
    &.visible{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

}

