.quote{
    &:not(:last-child){
        margin-bottom: 40px;
    }
    *{
        display: block;
    }
    &__main{
        font-family: "Helvetica Bold";
        font-size: 2.25rem;
        line-height: 120%;
    }
    &__person{
        margin-top: 5px;
        font-size: 0.9375rem;
        opacity: 0.8;
    }
}