@media(max-width: 1440px){

    .page-content,
    .footer__inner{
        max-width: 1000px;
    }

    .hero{
        &__heading{
            font-size: 2.5rem;
        }
        &__blurb{
            font-size: 1rem;
        }
    }

    .cards{
        &__grid{
            grid-auto-rows: 250px;
            gap: 11px;
            min-height: 515px;
        }
    }

    .card__title{
        font-size: 2.5rem;
    }

    .movie-page{
        &__side{
            width: 325px;
        }
    }

    .movie-details{
        padding: 20px;
        &__title{
            font-size: 2rem;
        }
    }

    .actors{
        gap: 11px;
        &__card{
            height: 194px;
        }
        &__role{
            font-size: 0.8rem;
        }
    }

    .movie-scene{
        padding: 20px;
        &__title{
            font-size: 1.25rem;
            width: 100%;
        }
        &__image{
            margin: 20px 0;
        }
    }

    .trivia{
        padding: 20px;
    }

}

@media(max-width: 1170px){
    .page-content,
    .footer__inner{
        max-width: 900px;
    }

    .hero{
        &__heading{
            font-size: 2rem;
        }
        &__image{
            width: 100%;
        }
    }

    .cards{
        &__grid{
            grid-auto-rows: 200px;
            min-height: 415px;
        }
    }

    .card__title{
        font-size: 2rem;
    }

    .movie-page{
        &__side{
            width: 300px;
        }
    }
}

@media(min-width: 1051px){
    .carousel-cell{
        margin: 0 !important;
    }
}

@media(max-width: 1050px){
    .page-content{
        max-width: 600px;
    }

    .hero{
        display: block;
        &__column{
            width: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }
        &__heading{
            font-size: 2.5rem;
            width: 90%;
            margin-bottom: 20px;
        }
        &__blurb{
            margin-bottom: 40px;
            width: 80%;
        }
        &__image{
            display: none;
        }
    }

    .footer{
        &__inner{
            display: block;
            max-width: 600px;
        }
        &__group{
            text-align: center !important;
            &:not(:last-child){
                margin-bottom: 35px;
            }
            img{
                margin: 0 auto 8px auto;
            }
        }
    }


    .cards{
        &__input{
            margin-bottom: 20px;
            .button:last-child{
                font-size: 0;
                width: 40px;
                justify-content: center;
            }
        }
        &__grid{
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 200px;
        }
    }

    .header{
        height: 165px;
    }

    .movie-page{
        margin-top: -90px;
        display: block;
        &__controls{
            #back{
                position: static;
                margin-right: 22px;
                flex-shrink: 0;
            }
            .button--small{
                width: 100%;
            }
        }
        &__side{
            width: 100%;
            margin-right: 0;
        }
    }

    .trailer__title{
        font-size: 1rem;
        &::after{
            font-size: 0.75rem;
        }
    }

    .actors{
        gap: unset;
        display: flex;
        margin-bottom: 22px;
        &__card{
            height: 205px;
            width: 160px;
            flex-shrink: 0;
        }
    }
}