@import "1-tools/variables.css";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Helvetica Bold";
  src: url("../fonts/HelveticaLTStd-Bold.otf");
}
@font-face {
  font-family: "Helvetica Light";
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}
:root {
  font-size: 16px;
  font-family: "Helvetica Light";
  color: var(--accent);
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
}

.fade-in {
  transition: 1s;
  opacity: 1;
  pointer-events: none;
}

.fade-out {
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}

::selection {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  color: var(--accent);
  background-color: var(--alternate);
  font-family: "Helvetica Bold";
  font-size: 0.875rem;
  box-shadow: 0px 2px 8px -2px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  padding: 0 25px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}
.button--search {
  cursor: auto;
  position: relative;
  margin-right: 22px;
}
.button--search input[type=text] {
  margin-left: -25px;
  padding: 0 15px 0 25px;
  left: 0;
  border: none;
  font-family: "Helvetica Bold";
  height: 100%;
  width: 100%;
  outline: none;
}
.button--search input[type=text]::placeholder {
  color: var(--accent);
  opacity: 1;
}
.button--search:hover {
  transform: none !important;
}
.button--small {
  width: 386px;
}
.button--nav {
  justify-content: center;
  width: 40px;
  padding: 0;
}
.button:hover {
  transform: translateY(-5px);
}

#back-to-homepage {
  margin: 100px auto;
}

.card, .not-found {
  display: none;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--accent);
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.card__background {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card__title {
  left: 15px;
  bottom: 15px;
  font-family: "Helvetica Bold";
  font-size: 3rem;
  position: absolute;
  width: 80%;
  color: var(--alternate);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.card::before, .not-found::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-image: url("../img/gradient.png");
  background-size: cover;
}
.card:hover, .not-found:hover {
  transform: translateY(-5px);
}
.card.visible, .visible.not-found {
  display: block;
}

.not-found {
  cursor: auto;
}
.not-found img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.not-found:hover {
  transform: none;
}

.header {
  display: block;
  height: 370px;
  width: 100%;
  background-color: var(--accent);
  -webkit-clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%);
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
  transition-delay: 500ms;
  object-fit: cover;
}
.header.visible {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.movie-details {
  background-color: var(--alternate);
  border-radius: 5px;
  padding: 35px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-details * {
  display: block;
}
.movie-details__title {
  font-family: "Helvetica Bold";
  font-size: 2.25rem;
}
.movie-details__rating {
  height: 10px;
  width: 70px;
  background-image: url("../img/icons/rating-background.png");
  background-size: cover;
  margin-top: 5px;
  margin-bottom: 25px;
}
.movie-details__score {
  height: 100%;
  background-image: url("../img/icons/rating-score.png");
  background-size: cover;
}
.movie-details__subsection {
  margin-bottom: 15px;
  font-size: 0.9375rem;
}
.movie-details__subsection span {
  margin-bottom: 4px;
  opacity: 0.8;
}
.movie-details__subsection span:first-child {
  font-family: "Helvetica Bold";
  font-size: 0.75rem;
}
.movie-details__description {
  font-size: 0.9375rem;
  margin-top: 25px;
  line-height: 140%;
  opacity: 0.8;
}

.movie-scene {
  background-color: var(--alternate);
  padding: 35px;
  border-radius: 5px;
  margin-bottom: 50px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.movie-scene * {
  display: block;
}
.movie-scene__title {
  font-size: 1.5rem;
  font-family: "Helvetica Bold";
  width: 95%;
  line-height: 120%;
}
.movie-scene__image {
  width: 100%;
  background-color: var(--accent);
  border-radius: 5px;
  margin: 25px 0;
  object-fit: cover;
}
.movie-scene__image::before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.movie-scene__description {
  font-size: 0.9375rem;
  line-height: 160%;
  text-align: justify;
  opacity: 0.8;
}

.trivia {
  padding: 35px;
  background-color: var(--alternate);
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 35px;
}
.trivia span {
  display: block;
  font-size: 0.9375rem;
  line-height: 160%;
  opacity: 0.8;
}
.trivia span:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.quote:not(:last-child) {
  margin-bottom: 40px;
}
.quote * {
  display: block;
}
.quote__main {
  font-family: "Helvetica Bold";
  font-size: 2.25rem;
  line-height: 120%;
}
.quote__person {
  margin-top: 5px;
  font-size: 0.9375rem;
  opacity: 0.8;
}

.actors {
  width: 100%;
  margin-top: 22px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  overflow: visible;
}
.actors__card {
  position: relative;
  height: 235px;
  background-color: var(--accent);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.actors__card:last-child {
  grid-column: 2;
}
.actors__card::before {
  content: url("../img/gradient.png");
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
}
.actors__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.actors__role {
  position: absolute;
  width: 90%;
  bottom: 10px;
  left: 10px;
  color: var(--alternate);
  font-family: "Helvetica Bold";
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.flickity-viewport {
  width: 100%;
  overflow: visible !important;
}

.carousel-cell {
  margin-right: 10px;
}

.hero {
  margin-bottom: 40px;
  display: flex;
}
.hero__logo {
  margin: 45px 0;
}
.hero__column {
  width: 50%;
  box-sizing: border-box;
}
.hero__column:first-child {
  padding-right: 5%;
  margin-right: 22px;
}
.hero__heading {
  font-family: "Helvetica Bold";
  font-size: 3rem;
  margin-bottom: 40px;
  line-height: 120%;
}
.hero__blurb {
  display: block;
  font-size: 1.125rem;
  line-height: 165%;
  opacity: 0.9;
}
.hero__image {
  display: block;
  margin: -55px auto 0 auto;
}

.cards__input {
  display: flex;
  margin-bottom: 40px;
}
.cards__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 22px;
  margin-bottom: 85px;
  min-height: 640px;
}

.footer {
  width: 100%;
  background-color: var(--accent);
  padding: 45px 0;
  margin-top: auto;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__inner * {
  display: block;
  color: var(--alternate);
  text-decoration: none;
}
.footer__group:not(:last-child):not(:first-child) {
  text-align: center;
}
.footer__group:last-child {
  text-align: right;
}
.footer__group *:not(:last-child) {
  margin-bottom: 8px;
}
.footer__group a {
  font-family: "Helvetica Bold";
}

.movie-page {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  margin-top: -200px;
  transform: translateY(50px);
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  pointer-events: none;
}
.movie-page__controls {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  margin-bottom: 20px;
}
.movie-page__controls #back {
  right: calc(100% + 22px);
  top: calc(100% + 20px);
  position: absolute;
}
.movie-page__side {
  width: 386px;
  margin-right: 22px;
}
.movie-page__main {
  flex: 1;
}
.movie-page.visible {
  transform: none;
  opacity: 1;
}

.movie-page-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--alternate);
}

.trailer {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--accent);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  pointer-events: none;
}
.trailer__inner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.trailer__container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  border: 5px solid var(--alternate);
  border-radius: 5px;
  margin-bottom: 20px;
}
.trailer__container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.trailer__container #close-trailer {
  position: absolute;
  top: -65px;
  right: -5px;
}
.trailer__title {
  font-size: 1.5rem;
  font-family: "Helvetica Bold";
  color: var(--alternate);
}
.trailer__title::after {
  display: block;
  font-family: "Helvetica Light";
  content: "Powered by YouTube";
  font-size: 1rem;
  margin-top: 5px;
  opacity: 0.5;
}

.error-not-found {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--alternate);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s;
}
.error-not-found__heading {
  font-family: "Helvetica Bold";
  font-size: 3rem;
  margin-bottom: 20px;
}
.error-not-found__sub {
  font-size: 1.125rem;
  line-height: 160%;
}
.error-not-found__image {
  margin: 50px 0;
  width: 100%;
  max-width: 800px;
}
.error-not-found.fade-in {
  opacity: 1;
  pointer-events: auto;
}

@media (max-width: 1440px) {
  .page-content,
.footer__inner {
    max-width: 1000px;
  }

  .hero__heading {
    font-size: 2.5rem;
  }
  .hero__blurb {
    font-size: 1rem;
  }

  .cards__grid {
    grid-auto-rows: 250px;
    gap: 11px;
    min-height: 515px;
  }

  .card__title {
    font-size: 2.5rem;
  }

  .movie-page__side {
    width: 325px;
  }

  .movie-details {
    padding: 20px;
  }
  .movie-details__title {
    font-size: 2rem;
  }

  .actors {
    gap: 11px;
  }
  .actors__card {
    height: 194px;
  }
  .actors__role {
    font-size: 0.8rem;
  }

  .movie-scene {
    padding: 20px;
  }
  .movie-scene__title {
    font-size: 1.25rem;
    width: 100%;
  }
  .movie-scene__image {
    margin: 20px 0;
  }

  .trivia {
    padding: 20px;
  }
}
@media (max-width: 1170px) {
  .page-content,
.footer__inner {
    max-width: 900px;
  }

  .hero__heading {
    font-size: 2rem;
  }
  .hero__image {
    width: 100%;
  }

  .cards__grid {
    grid-auto-rows: 200px;
    min-height: 415px;
  }

  .card__title {
    font-size: 2rem;
  }

  .movie-page__side {
    width: 300px;
  }
}
@media (min-width: 1051px) {
  .carousel-cell {
    margin: 0 !important;
  }
}
@media (max-width: 1050px) {
  .page-content {
    max-width: 600px;
  }

  .hero {
    display: block;
  }
  .hero__column {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .hero__heading {
    font-size: 2.5rem;
    width: 90%;
    margin-bottom: 20px;
  }
  .hero__blurb {
    margin-bottom: 40px;
    width: 80%;
  }
  .hero__image {
    display: none;
  }

  .footer__inner {
    display: block;
    max-width: 600px;
  }
  .footer__group {
    text-align: center !important;
  }
  .footer__group:not(:last-child) {
    margin-bottom: 35px;
  }
  .footer__group img {
    margin: 0 auto 8px auto;
  }

  .cards__input {
    margin-bottom: 20px;
  }
  .cards__input .button:last-child {
    font-size: 0;
    width: 40px;
    justify-content: center;
  }
  .cards__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }

  .header {
    height: 165px;
  }

  .movie-page {
    margin-top: -90px;
    display: block;
  }
  .movie-page__controls #back {
    position: static;
    margin-right: 22px;
    flex-shrink: 0;
  }
  .movie-page__controls .button--small {
    width: 100%;
  }
  .movie-page__side {
    width: 100%;
    margin-right: 0;
  }

  .trailer__title {
    font-size: 1rem;
  }
  .trailer__title::after {
    font-size: 0.75rem;
  }

  .actors {
    gap: unset;
    display: flex;
    margin-bottom: 22px;
  }
  .actors__card {
    height: 205px;
    width: 160px;
    flex-shrink: 0;
  }
}
@media (max-width: 768px) {
  .page-content {
    max-width: 100%;
    padding: 0 18px;
  }
}
@media (max-width: 600px) {
  .cards__grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    gap: 25px;
  }

  .hero__blurb {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .hero__heading {
    font-size: 2rem;
  }

  .movie-scene__title {
    font-size: 1.1rem;
  }

  .quote__main {
    font-size: 1.8rem;
  }

  .button--small {
    width: 100%;
  }
  .button--small#back-to-homepage {
    margin: 80px 0 35px;
  }
}