.hero{
    margin-bottom: 40px;
    display: flex;
    &__logo{
        margin: 45px 0;
    }
    &__column{
        width: 50%;
        box-sizing: border-box;
        &:first-child{
            padding-right: 5%;
            margin-right: 22px;
        }
    }
    &__heading{
        font-family: "Helvetica Bold";
        font-size: 3rem;
        margin-bottom: 40px;
        line-height: 120%;
    }
    &__blurb{
        display: block;
        font-size: 1.125rem;
        line-height: 165%;
        opacity: 0.9;
    }
    &__image{
        display: block;
        margin: -55px auto 0 auto;
    }
}