.hero{
    margin-bottom: 40px;
    &__logo{
        margin: 45px 0;
    }
    &__column{
        width: 50%;
        box-sizing: border-box;
        &:first-child{
            padding-right: 5%;
            margin-right: 22px;
        }
    }
    display: flex;
    &__heading{
        font-family: "Helvetica Bold";
        font-size: 3rem;
        margin-bottom: 35px;
    }
    &__blurb{
        font-size: 1.125rem;
        line-height: 165%;
        opacity: 0.9;
    }
    &__placeholder{
        height: 315px;
        width: 100%;
        border-radius: 5px;
        img{
            height: 100%;
            width: 100%;
        }
    }
}